<%# cart is @cart || cart %>
<% if cart %>
  <article>
    <% if notice %>
      <aside id="notice"><%= notice %></aside>
    <% end %>

    <h2>Your Cart</h2>

    <table>
      <% cart.line_items.each do |line_item| %>
        <tr>
          <td class="text-right"><%= line_item.quantity %></td>
          <td>&times;</td>
          <td class="pr-2">
            <%= line_item.product.title %>
          </td>
          <td class="text-right font-bold">
            <%= number_to_currency(line_item.total_price) %>
          </td>
        </tr>
      <% end %>
      <tfoot>
        <tr>
          <th colspan="3">Total:</th>
          <td class="text-right font-bold">
            <%= number_to_currency(cart.total_price) %>
          </td>
        </tr>
      </tfoot>
    </table>

    <div class="actions">
      <%= button_to 'Empty cart', cart,
                  method: :delete,
                  data: { confirm: 'Are you sure?' },
                  class: "ml-4 rounded-lg py-1 px-2 text-white bg-green-600" %>

      <%= button_to 'Checkout', new_order_path,
                  method: :get,
                  class: "ml-4 rounded-lg py-1 px-2 text-white bg-green-600" %>
    </div>
  </article>
<% end %>
