<div id="<%= dom_id line_item %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Product:</strong>
    <%= line_item.product_id %>
  </p>


  <% if line_item == @current_item %>
    <tr class="line-item-highlight">
    <% else %>
      <tr>
      <% end %>
      <td class="quantity"><%= line_item.quantity %></td>
      <td><%= line_item.product.title %></td>
      <td class="price"><%= number_to_currency(line_item.total_price) %></td>
      </tr>
  <p class="my-5">
    <strong class="block font-medium mb-1">Cart:</strong>
    <%= line_item.cart_id %>
  </p>

</div>
